@model WebApplication1.Models.Factura_O_Boleta

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminar esta factura?</h3>
<div>
    <h4>Factura_O_Boleta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT)
        </dd>

        <dt>
            Total a pagar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Pago)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.PNC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
