@model IEnumerable<WebApplication1.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Proveedores</h2>

<p>
    @Html.ActionLink("Registrar proveedor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Primer nombre proveedor
        </th>
        <th>
            Segundo nombre proveedor
        </th>
        <th>
            Primer apellido proveedor
        </th>
        <th>
            Segundo apellido proveedor
        </th>
        <th>
            Teléfono
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelP)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Prov }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_Prov }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_Prov })
        </td>
    </tr>
}

</table>
