@model WebApplication1.Models.Reservaciones

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Reservaciones</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                fecha de reserva
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_reserva)
            </dd>
    
            <dt>
                tiempo de instancia
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tiempo_instancia)
            </dd>
    
            <dt>
                Estado de entrada
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado_salida)
            </dd>
    
            <dt>
                Primer nombre cliente
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Clientes.PNC)
            </dd>
    
            <dt>
                Forma de pago
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Forma_Pago.Forma_Pago1)
            </dd>
    
            <dt>
                Número de habitación
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Habitaciones.ID_Hab)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_reserva }) |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>
</body>
</html>
