@model WebApplication1.Models.Usuarios

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Está seguro que desea eliminar este usuario?</h3>
<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.Rol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
