@model WebApplication1.Models.Refrigeradores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Refrigeradores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitaciones.ID_Hab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitaciones.ID_Hab)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Refrigerador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
